{sub_dirs, ["rel"]}.

{erl_opts, [debug_info]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{dialyzer_opts, [{warnings, [unmatched_returns]}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{deps, [
    {eiko_core, ".*", {git, "https://bitbucket.org/psym/eiko_core.git", "master"}}
]}.

% vim:ft=erlang
