{sys, [
        {lib_dirs, ["../deps"]},
        {rel, "eiko", "0.0.1",
            [
                kernel,
                stdlib,
                sasl,
                lager,
                eiko_core
            ]},
        {rel, "start_clean", "",
            [
                kernel,
                stdlib
            ]},
        {boot_rel, "eiko"},
        {profile, embedded},
        {excl_sys_filters, [
                "^bin/.*",
                "^erts.*/bin/(dialyser|typer)"
            ]},
        {app, sasl, [{incl_cond, include}]},
        {app, lager, [{incl_cond, include}]},
        {app, eiko_core, [{incl_cond, include}]}
    ]}.

{target_dir, "eiko"}.

{overlay, [
        {mkdir, "logs"},
        {copy,  "./overlay/*"}
    ]}.



% vim:ft=erlang
